.recent-activity {
    width: 100%;
    background-color: #161E54;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .heading {
    margin: 0 0 10px 0;
  }
  
  .text {
    margin: 5px 0;
  }
  
  .last-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .see-all-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 1024px) { 
    .last-line {
      justify-content: flex-start; 
    }
  
    .see-all-btn {
      
      margin-top: 10px; 
    }
  }