.upcoming-schedule {
    width: 100%;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
    position: relative;
}

.schedule-header {
    position: sticky;
    top: 0; 
    background-color: #ffffff; 
    z-index: 1; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px; 
    padding: 10px; 
    border-bottom: 1px solid #e0e0e0; 
}

.schedule-title {
    font-size: 1.5rem; 
}

.schedule-date {
    background-color: #f0f0f0; 
    padding: 10px 15px;
    border-radius: 5px; 
    font-size: 1rem; 
    display: flex;
    align-items: center;
}

.dropdown-arrow {
    margin-left: 10px;
    font-size: 1rem; 
}

.schedule-items {
    margin-bottom: 20px; 
    overflow-y: auto; 
}

.schedule-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 0; 
    border: 1px solid #e0e0e0; 
    background-color: #f9f9f9;
    margin: 10px;
}

.item-content {
    flex: 1;
}

.item-content h4 {
    margin: 0;
    font-size: 1.25rem; 
}

.schedule-time {
    font-size: 0.875rem; 
    color: #6c757d; 
}

.item-icon {
    display: flex;
    gap: 10px; 
}

.icon {
    font-size: 1.25rem; 
}

.schedule-footer {
    text-align: center; 
    position: sticky;
    bottom: 0;
}

.see-all {
    color: #ff0000; 
    text-decoration: none; 
    font-size: 1rem;
}
.additional-text {
    margin-bottom: 10px; 
    font-size: 1rem;
    color: #555; 
  }